In [14]:
import numpy as np
import pandas as pd
import datetime

In [15]:
df=pd.read_excel(r'Untitled 1.xls')
df

         alpha0    alpha7
YAL002W   -0.11  0.748708
YAL003W   -0.14  0.758986
YAL004W   -0.02  0.180933
YAL005C   -0.05 -1.031976
YAL007C   -0.60  0.252470
YAL008W   -0.28 -0.175095
YAL009W   -0.03  0.929112
YAL010C   -0.05  0.400372
YAL011W   -0.31  0.326051

In [16]:
np.shape(df)

(9, 2)

In [17]:
oval = df['alpha0'].sum()
oval/9

-0.17666666666666667

In [18]:
pval=df['alpha7'].sum()
pval/9

0.2655067952473961